* {
  box-sizing: border-box;
}

body,
html, ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
}

input, button {
  border: unset;
}

* {
  box-sizing: border-box;
}

body,
html, ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
}

input, button {
  border: unset;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
main #sider {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
  height: 100vh;
  background-color: rgb(141, 215, 204);
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
  position: fixed;
  z-index: 99999;
}
main #sider img {
  width: 150px;
  height: 150px;
  margin-top: 66px;
}
main #sider ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 150px;
}
main #sider ul:nth-of-type(1) {
  padding-top: 78px;
}
main #sider ul:nth-last-of-type(1) {
  padding-top: 39px;
}
main #sider ul li {
  margin: 10px 0 10px 20px;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
}
main #sider ul li:nth-of-type(1) {
  margin-left: 0;
}
main #sider ul li:nth-of-type(1):hover {
  border: unset;
}
main #sider ul li:hover {
  border: 1px solid white;
}
main #sider ul .log-out {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 250px 0 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
  padding: 5px;
  border-radius: 20px;
  width: 150px;
  height: 40px;
}
main #sider ul .log-out:hover {
  border: 1px solid white;
}
main #container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transform: translate(60%, 23%);
}
main #container #page_title {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
}

main #container {
  width: 778px;
  height: 749px;
}
main #container #swiper_tag {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  margin-top: 28px;
}
main #container #swiper_tag div {
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid #9C9C9C;
  border-bottom: unset;
}
main #container #content {
  width: 1000px;
  height: 749px;
  border: 1px solid #9C9C9C;
  padding: 37px 0 0 34px;
}
main #container #content li {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  padding-bottom: 14px;
}
main #container #content #web {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 33px;
}
main #container #content #web .web-box1 {
  width: 500px;
  height: 298px;
  background-color: #D9D9D9;
  margin-right: 37px;
  object-fit: cover;
  object-position: center;
}
main #container #content #web .web-box1 img {
  width: 500px;
  height: 298px;
  object-fit: cover;
  object-position: center;
}
main #container #content #web .web-box2 {
  display: none;
  width: 500px;
  height: 298px;
  background-color: #EEB8AF;
  margin-right: 37px;
}
main #container #content #web .web-box2 img {
  width: 500px;
  height: 298px;
  object-fit: cover;
  object-position: center;
}
main #container #content #web .web-input-file1 {
  width: 70px;
  height: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
  transform: translateY(-60%);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EFEFEF;
}
main #container #content #web .web-input-file1 input {
  display: none;
}
main #container #content #web .web-input-file2 {
  display: none;
  width: 70px;
  height: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
  transform: translateY(-60%);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
  background-color: #EFEFEF;
}
main #container #content #web .web-input-file2 input {
  display: none;
}
main #container #content #web .web-input-file1-name {
  transform: translateX(10%);
}
main #container #content #web .web-input-file1-name p {
  width: 200px;
  height: 30px;
  word-wrap: break-word;
}
main #container #content #web .web-input-file2-name {
  transform: translateX(10%);
  display: none;
}
main #container #content #web .web-input-file2-name p {
  width: 200px;
  height: 30px;
  word-wrap: break-word;
}
main #container #content #web .offbtn {
  display: none;
}
main #container #content #web .onbtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #container #content #phone {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 43px;
  padding: 0 43px 29px 0;
}
main #container #content #phone .phone-box1 {
  width: 192px;
  height: 289px;
  background-color: #D9D9D9;
}
main #container #content #phone .phone-box1 img {
  width: 192px;
  height: 289px;
  object-fit: cover;
  object-position: center;
}
main #container #content #phone .phone-box2 {
  display: none;
  width: 192px;
  height: 289px;
  background-color: #EEB8AF;
}
main #container #content #phone .phone-box2 img {
  width: 192px;
  height: 289px;
  object-fit: cover;
  object-position: center;
}
main #container #content #phone button {
  width: 70px;
  height: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
  background-color: #EFEFEF;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
  border: unset;
}
main #container #content #phone button:nth-last-of-type(1) {
  background-color: #EEB8AF;
}
main #container #content #phone .phone-input-file1 {
  width: 70px;
  height: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
  transform: translateY(-60%);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EFEFEF;
}
main #container #content #phone .phone-input-file1 input {
  display: none;
}
main #container #content #phone .phone-input-file2 {
  display: none;
  width: 70px;
  height: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
  transform: translateY(-60%);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
  background-color: #EFEFEF;
}
main #container #content #phone .phone-input-file2 input {
  display: none;
}
main #container #content #phone .phone-input-file1-name {
  transform: translateX(-50%);
}
main #container #content #phone .phone-input-file1-name p {
  width: 200px;
  height: 30px;
  word-wrap: break-word;
}
main #container #content #phone .phone-input-file2-name {
  transform: translateX(-50%);
  display: none;
}
main #container #content #phone .phone-input-file2-name p {
  width: 200px;
  height: 30px;
  word-wrap: break-word;
}
main #container #content #phone .offbtn {
  display: none;
}
main #container #content #phone .onbtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=banner.css.map */