@import 'set';
@import 'sider';
//banner內文開始


main {
    #container {
        @include dimension(778px, 749px);

        #swiper_tag {
            @include flex-row(flex-start, center);
            @include font(400, 16px, 19px, 0.1em);
            margin-top: 28px;

            div {
                @include dimension(100px, 35px);
                @include flex-row(center, center);
                border-radius: 10px 10px 0px 0px;
                border: 1px solid $border;
                border-bottom: unset;
            }

            // #swiper_tag1{
            //     background-color: $logo_color;
            // }
            // #swiper_tag2{
            //     background-color: white;
            // }
        }

        #content {
            @include dimension(1000px, 749px);
            border: 1px solid $border;
            padding: 37px 0 0 34px;

            li {
                @include font(400, 18px, 22px, 0.1em);
                padding-bottom: 14px;
            }

            #web {
                @include flex-row(flex-start, flex-end);
                margin-bottom: 33px;

                .web-box1 {
                    img {
                        @include dimension(500px, 298px);
                        object-fit: cover;
                        object-position: center;
                    }

                    @include dimension(500px, 298px);
                    background-color: $bg;
                    margin-right: 37px;
                    object-fit: cover;
                    object-position: center;
                }

                .web-box2 {
                    img {
                        @include dimension(500px, 298px);
                        object-fit: cover;
                        object-position: center;
                    }

                    display: none;
                    @include dimension(500px, 298px);
                    background-color: $sub_color;
                    margin-right: 37px;
                }

                .web-input-file1 {
                    @include dimension(70px, 40px);
                    @include font(400, 20px, 24px, 0.1em);
                    transform: translateY(-60%);
                    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
                    @include flex-col(center, center);
                    background-color: $button;

                    input {
                        display: none;
                    }
                }

                .web-input-file2 {
                    display: none;
                    @include dimension(70px, 40px);
                    @include font(400, 20px, 24px, 0.1em);
                    transform: translateY(-60%);
                    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
                    background-color: $button;

                    input {
                        display: none;
                    }
                }

                .web-input-file1-name {
                    transform: translateX(10%);

                    p {
                        @include dimension(200px, 30px);
                        word-wrap: break-word;
                    }
                }

                .web-input-file2-name {
                    transform: translateX(10%);
                    display: none;

                    p {
                        @include dimension(200px, 30px);
                        word-wrap: break-word;
                    }

                }

                .offbtn {
                    display: none;
                }

                .onbtn {
                    @include flex-col(center, center);
                }

            }


            #phone {
                display: flex;
                align-items: flex-end;
                flex-direction: row;
                padding: 0 43px 29px 0;

                .phone-box1,
                .phone-box2 {
                    img {
                        @include dimension(192px, 289px);
                        object-fit: cover;
                        object-position: center;
                    }

                    @include dimension(192px, 289px);
                    margin-right: 30px;
                }

                .phone-box2 {
                    display: none;
                }

                button {
                    @include dimension(70px, 40px);
                    @include font(400, 20px, 24px, 0.1em);
                    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
                    background-color: $sub_color;
                    border: unset;
                    transform: translate(550%, -60%);
                }

                .phone-input-file1 {
                    @include dimension(70px, 40px);
                    @include font(400, 20px, 24px, 0.1em);
                    transform: translateY(-60%);
                    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
                    @include flex-col(center, center);
                    background-color: $button;

                    input {
                        display: none;
                    }
                }

                .phone-input-file2 {
                    display: none;
                    @include dimension(70px, 40px);
                    @include font(400, 20px, 24px, 0.1em);
                    transform: translateY(-60%);
                    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
                    background-color: $button;

                    input {
                        display: none;
                    }
                }

                .phone-input-file1-name {
                    transform: translate(10%, 30%);

                    p {
                        @include dimension(200px, 30px);
                        word-wrap: break-word;
                    }
                }

                .phone-input-file2-name {
                    transform: translate(10%, 30%);
                    display: none;

                    p {
                        @include dimension(200px, 30px);
                        word-wrap: break-word;
                    }
                }

                .offbtn {
                    display: none;
                }

                .onbtn {
                    @include flex-col(center, center);
                }

            }

        }
    }


}