@import 'set';
@import 'sider';
//news-add內文開始

main {
    #container {
        @include dimension(778px, 749px);
        margin-top: 1%;

        #content {
            @include flex-row(space-between, flex-start);
            margin-top: 24px;

            .content-left {
                @include dimension(778px, 850px);
                border: 1px solid black;
                padding: 0 30px;

                li {
                    @include font(400, 18px, 22px, 0.1em);

                    span {
                        color: red;
                    }

                    &:nth-of-type(1) {
                        margin: 31px 0 19px 0;
                    }

                    &:nth-of-type(2) {
                        margin: 28px 0 21px 0;
                    }

                    &:nth-of-type(3) {
                        margin: 28px 0 16px 0
                    }
                }

                input {
                    @include dimension(720px, 50px);
                    background-color: $input;
                    // margin-left: 30px;
                    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                    font-size: 16px;
                }

                .input_date {
                    span {
                        // margin-left: 30px;
                        font-size: 20px
                    }

                    input {
                        @include dimension(150px, 40px);
                        background-color: $input;
                        text-align: center;
                        padding: 5px;
                    }
                }

                textarea {
                    @include dimension(720px, 530px);
                    max-width: 720px;
                    max-height: 530px;
                    // margin-left: 30px;
                    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                    @include font(400, 18px, 22px, 0.1em);
                    background-color: $input;
                }

            }

            .content-right {
                margin: 0 180px 0 96px;

                li {
                    @include font(400, 18px, 22px, 0.1em);

                    span {
                        color: red;
                    }
                }

                #web {

                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;

                    .box {
                        @include dimension(283px, 206px);
                        background-color: $bg;
                        margin: 21px 0 26px;
                    }

                    .input-file {
                        @include dimension(70px, 40px);
                        @include font(400, 20px, 24px, 0.1em);
                        transform: translate(50%, -60%);
                        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
                        @include flex-row(center, center);
                        background-color: $button;

                        input {
                            display: none;
                        }
                    }

                    .web-input-file-name {
                        transform: translate(30%, 30%);

                        p {
                            @include dimension(200px, 30px);
                            word-wrap: break-word;
                        }
                    }
                }

                #phone {

                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;

                    .box {
                        @include dimension(283px, 206px);
                        background-color: $bg;
                        margin: 48px 0 26px;
                    }
                    .input-file {
                        @include dimension(70px, 40px);
                        @include font(400, 20px, 24px, 0.1em);
                        transform: translate(50%, -60%);
                        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
                        @include flex-row(center, center);
                        background-color: $button;

                        input {
                            display: none;
                        }
                    }
                    .phone-input-file-name {
                        transform: translate(30%, 30%);

                        p {
                            @include dimension(200px, 30px);
                            word-wrap: break-word;
                        }
                    }
                }

                button {
                    @include dimension(70px, 40px);
                    @include font(400, 20px, 24px, 0.1em);
                    transform: translateY(-60%);
                    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
                    @include flex-row(center, center);
                    background-color: $sub_color;
                    margin-top: 230px;
                }
            }

        }

    }
}