@import 'set';

//new-product內文開始

main {
    @include dimension(100%, 100vh);
    @include flex-row(space-between, flex-start);

    #sider {
        @include flex-col(flex-start, center);
        @include dimension(350px, 100vh);
        background-color: $logo_color;
        @include font(400, 20px, 24px, 0.1em);
        position: fixed;
        z-index: 99999;
        img{
            @include dimension(150px, 150px);
            margin-top: 66px;
        }

        ul {
            @include flex-col(flex-start, flex-start);
            width: 150px;

            &:nth-of-type(1) {
                padding-top: 78px;
            }

            &:nth-last-of-type(1) {
                padding-top: 39px;
            }

            li {
                &:nth-of-type(1) {
                    margin-left: 0;
                    &:hover {
                        border: unset;
                    }
                }


                margin: 10px 0 10px 20px;
                border-radius: 10px;
                text-align: center;
                padding: 5px;

                &:hover {
                    border: 1px solid white;

                }
            }

            .log-out {
                @include flex-row(center, center);
                margin: 250px 0 0;
                @include font(400, 20px, 24px, 0.1em);
                padding: 5px;
                border-radius: 20px;
                @include dimension(150px, 40px);
                &:hover {
                    border: 1px solid white;

                }
            }
        }

    }

    #container {
        @include flex-col(center, flex-start);
        transform: translate(60%, 23%);

        #page_title {
            @include font(400, 18px, 22px, 0.1em);
        }
    }
}

@media (max-width: 760px) {
    main{
        #sider{
            @include dimension(120px, 100vh);
            @include font(400, 12px, 24px, 0.1em);
            @include flex-col(flex-start, center);
            img{
                @include dimension(50px, 50px);
                margin-top: 66px;
            }
            ul{
                width: 100px;
            }
        }
        #container {
            @include flex-col(center, flex-start);
            transform: translate(20%, 23%);
    
            #page_title {
                @include font(400, 12px, 22px, 0.1em);
            }
        }
    }
}